:root {
  --thumbWidth: 200px;
  --thumbHeight: 140px;
  --thumbBg: #fff;
  --borderCrossSize: 20px;
  --borderCrossWidth: 1px;
}

.projectThumb {
  position: relative;
  padding: 20px;
  margin: -calc(--var(--borderCrossWidth) / 2);
  height: var(--thumbHeight);
  width: var(--thumbWidth);
}

.projectThumb span {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 2;
}

.projectThumb svg {
  width: 100%;
  display: flex;
  align-items: center;
}

.crossBorder {
  background: var(--thumbBg);
  border-top: var(--borderCrossWidth) solid black;
  border-right: var(--borderCrossWidth) solid black;
  border-left: var(--borderCrossWidth) solid black;
  border-bottom: var(--borderCrossWidth) solid black;
}

.crossBorder:last-child {
  border-bottom: var(--borderCrossWidth) solid black;
}

.crossBorder::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: var(--thumbBg);
  left: var(--borderCrossSize);
  top: -var(--borderCrossWidth);
  width: calc(100% - var(--borderCrossSize) * 2);
  height: calc(100% + var(--borderCrossWidth) * 2);
}

.crossBorder::after {
  content: "";
  position: absolute;
  z-index: 1;
  background: var(--thumbBg);
  top: var(--borderCrossSize);
  left: -var(--borderCrossWidth);
  height: calc(100% - var(--borderCrossSize) * 2);
  width: calc(100% + var(--borderCrossWidth) * 2);
}
